<!doctype html>
<html lang="en">

<!-- Page Title -->
<title>Example FIM Mapping Service</title>

<!-- Header -->
<% include partials/header.html %>

<body class="text-center">

    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
            </div>
        </header>

        <main role="main" class="">
            <p class="lead">
                If you're seeing this, then the ID Resolution API service appears to be up.
                <br><br>
                The primary goal of this service is to resolve realm-specific UUIDs to a single master UUID.
                <br><br>
                <a class="btn btn-secondary" href="/aka/api"><b>Click here to view a more detailed description and view
                        API details</b></a>
            </p>
            <br><br>

            <div class="row">
                <div class="col-md-4">
                    <h4>Realms</h4>
                    <div class="list-group" style="overflow-y: scroll; scroll-behavior: smooth; height: 300px">
                        <a href="#" class="list-group-item list-group-item-dark">First item</a>
                        <a href="#" class="list-group-item list-group-item-dark">Second item</a>
                        <a href="#" class="list-group-item list-group-item-dark">Third item</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Users</h4>
                    <div class="list-group" style="overflow-y: scroll; scroll-behavior: smooth; height: 300px">
                        <a href="#" class="list-group-item list-group-item-dark">First item</a>
                        <a href="#" class="list-group-item list-group-item-dark">Second item</a>
                        <a href="#" class="list-group-item list-group-item-dark">Third item</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Master ID</h4>
                    <p></p>
                </div>
            </div>
        </main>

        <footer class="mastfoot mt-auto">

        </footer>
    </div>

</body>

</html>