<head>

    <!-- Page Title -->
    <title>Example ID Resolver</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/aka/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/aka/images/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="/aka/css/bootstrap.min.css" rel="stylesheet">
    <link href="/aka/css/cover.css" rel="stylesheet">
    <link href="/aka/css/select2-adminlte.min.css" rel="stylesheet">
    
    <script src="/aka/js/popper.min.js"></script>
    <script src="/aka/js/jquery-3.3.1.js"></script>

    <!-- Selection -->
    
</head>
